@import "variables";
@import "reset";

* {
  transition: box-shadow 100ms ease-in-out, animation 100ms ease-in-out, text-shadow 100ms ease-in-out,
    color 100ms ease-in-out, transform 50ms ease-in-out, background-color 100ms ease-in-out, ;
}

.main-page {
  font-family: "Poppins", "Open Sans", "Lato", "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: $text-color-grey;
  background-image: url(../image/top-block/decore.svg);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  overflow: hidden;

  &__top-block {
    margin-bottom: 90px;
    &::after {
      position: absolute;
      content: "";
      left: -26%;
      top: -5%;
      width: 478px;
      height: 497px;
      background: rgb(213,174,228);
      background: radial-gradient(circle, rgba(213,174,228, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
      filter: blur(75px);
      z-index: -1;
    }
  }

  &__services {
    margin-left: 11vw;
    padding-right: 13vw;
    margin-bottom: 123px;
    background-image: url(../image/services/pluses.svg);
    background-position: 95% top;
    background-repeat: no-repeat;
  }

  &__top-selling {
    padding: 0 15vw 0 12vw;
    margin-bottom: 186px;
  }

  &__book-trip {
    padding-left: 13vw;
    padding-right: 10vw;
    margin-bottom: 200px;
  }

  &__testimonials {
    padding-left: 13vw;
    padding-right: 14vw;
    margin-bottom: 173px;
  }

  &__airlines {
    margin: 0 13vw;
    margin-bottom: 140px;
  }

  &__subscribe {
    margin: 0 10vw;
    margin-bottom: 166px;
  }

  &__footer {
    padding: 0 13vw 20px;
    &::after {
      position: absolute;
      content: "";
      right: -20%;
      bottom: -80%;
      width: 478px;
      height: 497px;
      background: rgb(213,174,228);
      background: radial-gradient(circle, rgba(213,174,228, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
      filter: blur(75px);
      z-index: -1;
    }
  }
}

.block-subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.8em;
  line-height: 150%;
  text-align: center;
  color: $text-color-grey;
}
.block-title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  text-transform: capitalize;
  color: $text-color-main-dark;
}

@media (max-width: 1025px) {
  .main-page {
    font-size: 9px;

    &__top-selling {
      background-position-x: 90%;
    }
  }
}

@media (max-width: 769px) {
  .main-page {
    font-size: 8px;
    & > *:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 415px) {
  .main-page {
    font-size: 10px;
    background-image: none;
    &__top-block {
      background-image: url(../image/services/pluses.svg);
      background-position: right 89%;
      background-repeat: no-repeat;
    }
    &__services {
      background-image: none;
    }

    &__top-selling{
      padding-bottom: 100px;
      background-image: url(../image/top-selling/pluses.svg), url(../image/top-selling/pluses.svg);
      background-position: 0 -9px, bottom left;
      background-repeat: no-repeat;
    }
    &__book-trip {
      padding: 75px 2vw;
      background-image: url(../image/book-trip/example-booked/pluses.svg);
      background-position: right 100%;
      background-repeat: no-repeat;
    }
    &__testimonials {
      padding: 0 6vw;
    }
  }
  .block-subtitle {
    font-size: 2em;
  }
  .block-title {
    font-size: 4em;
  }
}

@import "top-block";
@import "services";
@import "top-selling";
@import "book-trip";
@import "testimonials";
@import "airlines";
@import "subscribe";
@import "footer";
